<footer class="footer bg-light border-top">
  <div class="container py-5">
    <div class="d-flex justify-content-between">
      <ul class="d-flex mb-lg-0">
        <li class="footer-link me-5 navbar-nav"><a href="#">服務方案</a></li>
        <li class="footer-link me-5 navbar-nav"><a href="#">關於職旅</a></li>
        <li class="footer-link me-5 navbar-nav"><a href="#">聯絡我們</a></li>
        <li class="footer-link me-5 navbar-nav"><a href="#">隱私權政策</a></li>
        <li class="footer-link me-5 navbar-nav"><a href="#">用戶條款</a></li>
      </ul>
      <p class="footer-text-copyright">
        Copyright © 2025 職旅 workway. All rights reserved.
      </p>
    </div>
  </div>
</footer>
